<div data-ng-if="vm.alerte.type == 'succes'" class="alert alert-success" role="alert">
  <strong>Succès </strong> {{ vm.alerte.texte }}
</div>
<div data-ng-if="vm.alerte.type == 'erreur'" class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-remove"></span>
	<strong> Erreur </strong> {{ vm.alerte.texte }}
</div>

<div>
<fieldset>
	<legend>{{ vm.headingTitle }}</legend>

	<form class="form-horizontal" name="creationCommande">
		<div class="form-group required">
			<label style="text-align:left;" class="col-md-2 control-label" for="numCommande">Numéro de commande</label>
			<div class="col-md-3 input-group">
				<input id="numCommande" type="text" class="form-control" name="numCommande" data-ng-model="vm.commande.numCommande" required />
				<span class="input-group-addon" id="addon"><i class="glyphicon glyphicon-barcode"></i></span>
			</div> 
		</div>
		<div class="form-group">
			<label style="text-align:left;" class="col-md-2 control-label" for="dateCommande">Date de la commande</label>
			<div class="col-md-3 input-group">
				<input readonly id="dateCommande" type="date" class="form-control" name="dateCommande" data-ng-model="vm.commande.dateCommande" />
				<span class="input-group-addon" id="addon"><i class="glyphicon glyphicon-calendar"></i></span>
			</div>
		</div>
		<div class="form-group required">
			<label style="text-align:left;" class="col-md-2 control-label" for="dateLivraison">Date de livraison</label>
			<div class="col-md-3 input-group">
				<input id="dateLivraison" type="date" class="form-control" name="dateLivraison" data-ng-model="vm.commande.dateLivraison" required />
				<span class="input-group-addon" id="addon"><i class="glyphicon glyphicon-calendar"></i></span>
			</div> 
		</div>
		<div class="form-group required">
			<label style="text-align:left;" class="col-md-2 control-label" for="heureLivraison">Heure de la livraison</label>
			<div class="col-md-3 input-group">
				<input id="heureLivraison" type="time" class="form-control" name="heureLivraison" data-ng-model="vm.commande.heureLivraison" required />
				<span class="input-group-addon" id="addon"><i class="glyphicon glyphicon-time"></i></span>
			</div>
		</div>
		<div class="form-group required">
			<label style="text-align:left;" class="col-md-2 control-label" for="client">Client</label>
			<div class="col-md-3 input-group">
				<input readonly id="client" type="text" class="form-control" name="client" data-ng-click="vm.modal()" value="{{ vm.commande.client.nom }} {{ vm.commande.client.prenom }}" required />
				<span class="input-group-addon" data-ng-click="vm.modal()" id="addon"><i class="glyphicon glyphicon-user"></i></span>
			</div>
		</div>
		<div class="form-group">
			<label style="text-align:left;" class="col-md-2 control-label" for="prix">Prix</label>
			<div class="col-md-3 input-group">
				<input id="prix" type="text" class="form-control" name="prix" value="{{ vm.commande.prix }}" readonly />
				<span class="input-group-addon" id="addon"><i class="glyphicon glyphicon-euro"></i></span>
			</div>
		</div>
		<div class="form-group">
			<label data-toggle="tooltip" data-placement="bottom" title="{{ vm.infoBulle }}" style="text-align:left;" class="col-md-2 control-label" for="paye">Statut de la commande</label>
			<div class="col-md-3">
				<input id="paye" type="checkbox" class="form-control" name="paye" data-ng-model="vm.commande.paye" />
			</div>
		</div>
		<div class="form-group">
			<label data-toggle="tooltip" data-placement="bottom" style="text-align:left;" class="col-md-2 control-label" for="paye">Receptionnée</label>
			<div class="col-md-3">
				<input id="paye" type="checkbox" class="form-control" name="receptionne" data-ng-model="vm.commande.receptionne" />
			</div>
		</div>
		
		<div class="form-group">
		<fieldset>
			<legend>Sélection des preparations</legend>
			<table class="table table-bordered table-striped">
	      		<thead>
		        	<tr>
		          		<th>Type de préparation</th>
		          		<th>Préparation</th>
						<th>Quantité</th>
						<th>Prix</th>
						<th style="width:10%">Action</th>
		        	</tr>
				</thead>
			<tbody>
				<tr data-ng-repeat="row in vm.table">
					<td>{{ row.typePreparation.libelle }}</td>
					<td>{{ row.preparation.nomPreparation	 }}</td>
					<td>{{ row.quantite }}</td>
					<td>{{ row.prixCalcule | number:2 }} &euro;</td>
					<td>
						<button type="button" class="btn btn-danger" data-ng-click="vm.enleverLigne(row)">
							<span class="glyphicon glyphicon-remove"></span> Supprimer 
				        </button>
				</tr>
			</tbody>
		    </table>
		</fieldset>
		</div>
		<input class="col-md-2 btn btn-primary" type="button" name="addClient" data-ng-click="vm.modalPreparation()" value="Ajouter une preparation" />
		<!-- FIN -->
		<input data-ng-disabled="vm.commande.client === undefined || vm.commande.prix === undefined" name="valider" class="col-md-1 btn btn-success" type="submit" data-inline="true" data-ng-click="creationCommande.$valid && vm.creerOuModifierCommande()" value="{{ vm.bouton.creerOuModifier }}">
		<input type="button" class="btn btn-primary" data-ng-click="vm.back()" value="{{ vm.bouton.retour }}">
	</form>
</fieldset>
</div>