<div data-ng-if="vm.alerte.type == 'succes'" class="alert alert-success" role="alert">
	<span class="glyphicon glyphicon-ok"></span>
	<strong>Succes : </strong> {{ vm.alerte.texte }}
</div>
<div data-ng-if="vm.alerte.type == 'erreur'" class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-remove"></span>
	<strong> Erreur : </strong> {{ vm.alerte.texte }}
</div>

<div>
<fieldset>
	<legend>{{ vm.headingTitle }}</legend>

	<form class="form-horizontal" name="clientForm">
		<div class="form-group required">
			<label style="text-align:left;" class="col-md-2 control-label" for="Nom">Nom</label>
			<div class="col-md-3">
				<input id="Nom" type="text" class="form-control" name="Nom" data-ng-model="vm.client.nom" required />
			</div>
		</div>
		<div class="form-group">
			<label style="text-align:left;" class="col-md-2 control-label" for="Prenom">Prenom</label>
			<div class="col-md-3">
				<input id="Prenom" type="text" class="form-control" name="Prenom" data-ng-model="vm.client.prenom" />
			</div> 
		</div>
		<div class="form-group">
			<label style="text-align:left;" class="col-md-2 control-label" for="Numero">Numero de tel</label>
			<div class="col-md-3">
				<input id="Numero" type="tel" class="form-control" name="Numero" data-ng-model="vm.client.numero" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-3">
				<input type="submit" class="btn btn-success" data-ng-click="vm.creerOuModifierClient(clientForm.$valid)" value="{{ vm.bouton.creerOuModifier }}">
				<input data-ng-if="vm.bouton.supprimer !== undefined" class="btn btn-danger" type="submit" data-ng-click="vm.supprime()" value="{{ vm.bouton.supprimer }}">
				<input type="button" class="btn btn-primary" data-ng-click="vm.back()" value="{{ vm.bouton.retour }}">
			</div>
		</div>
	</form>
	</fieldset>

<fieldset data-ng-if="vm.type.indexOf('modifier') !== -1 && vm.commande.length > 0">
	<legend>Commandes de {{ vm.client.prenom }} {{ vm.client.nom }}</legend>

	 <form>
	    <div class="form-group">
	      <div class="input-group">
	        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
	        <input type="text" class="form-control" placeholder="Recherche sur la liste de commandes" data-ng-model="vm.searchClient">
	      </div>      
	    </div>
	</form>  

	<table class="table table-bordered table-striped">
		<thead >
			<tr>
		        <td data-ng-click="sortType = 'numeroCommande'; sortReverse = !sortReverse">
		          <a><b>Numero de commande</b>
		            <span data-ng-show="sortType == 'numeroCommande' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
		            <span data-ng-show="sortType == 'numeroCommande' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
		          </a>
		        </td>
		        <td data-ng-click="sortType = 'dateCommande'; sortReverse = !sortReverse">
		          <a><b>Date de commande</b>
		            <span data-ng-show="sortType == 'dateCommande' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
		            <span data-ng-show="sortType == 'dateCommande' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
		          </a>
		        </td>
		        <td data-ng-click="sortType = 'dateLivraison'; sortReverse = !sortReverse">
		          <a><b>Date de livraison</b>
		            <span data-ng-show="sortType == 'dateLivraison' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
		            <span data-ng-show="sortType == 'dateLivraison' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
		          </a>
	        	</td>
	        	<td data-ng-click="sortType = 'paye'; sortReverse = !sortReverse">
		          <a><b>Commande paye</b>
		            <span data-ng-show="sortType == 'paye' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
		            <span data-ng-show="sortType == 'paye' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
		          </a>
	        	</td>
	        </tr>
	    </thead>
	    <tbody>
	    	<tr data-ng-href="" data-ng-click="vm.redirection(vm.lien + '/' + valeur.numeroCommande)" data-ng-repeat="valeur in vm.commande | orderBy:sortType:sortReverse | filter:vm.searchClient">
	    		<td>{{ valeur.numeroCommande }}</td>
	    		<td>{{ valeur.dateCommande | date : 'dd-MM-yyyy'}}</td>
	    		<td>{{ valeur.dateLivraison | date : 'dd-MM-yyyy' }} {{ valeur.heureLivraison }}</td>
	    		<td data-ng-if="valeur.paye">Oui</td>
	    		<td data-ng-if="!valeur.paye">Non</td>
			</tr>
		</tbody>
	
	</table>
	</fieldset>
</div>
