<div>
	<nav class="navbar navbar-default navbar-inverse" role="navigation">
	     <div class="container-fluid" id="navfluid">
	       <div class="navbar-header">
	       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
	       <span class="sr-only">Navigation</span>
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
	      </button>
	     <a class="navbar-brand"><img class="hidden-xs" src="img/banette-min.png" style="width:60px;"></a>
	    </div>
	<div class="collapse navbar-collapse" id="navigationbar">
	<ul class="nav navbar-nav">
	   <li data-ng-repeat="bouton in vm.liste" data-ng-click="vm.collapseMenu()" ><a data-ng-href='{{ bouton.url }}'><span class="{{ bouton.icon }}"></span>&nbsp{{ bouton.nom }}</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
			class="glyphicon glyphicon-user"></span> Admin <b class="caret"></b></a>
			<ul class="dropdown-menu">
			    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
			    <li><a href="#"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
			    <li class="divider"></li>
			    <li><a href="#"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
			</ul>
		</li>
	</ul>
<!-- 	<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p> -->
	</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	</nav>
</div>