<div data-ng-if="vm.alerte.type == 'succes'" class="alert alert-success" role="alert">
	<span class="glyphicon glyphicon-ok"></span>
	<strong>Succes : </strong> {{ vm.alerte.texte }}
</div>
<div data-ng-if="vm.alerte.type == 'erreur'" class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-remove"></span>
	<strong> Erreur : </strong> {{ vm.alerte.texte }}
</div>

<div>
	<fieldset>
		<legend>{{ vm.headingTitle }}</legend>
	
		<form class="form-horizontal" name="clientForm">
			<div class="form-group required">
				<label style="text-align:left;" class="col-md-2 control-label" for="typePreparation">Type de la pr&eacute;paration :</label>
				<div class="col-md-3">
					<select data-ng-init="vm.preparation.typePreparation" class="form-control" data-ng-change="update(option)" data-ng-options="option as option.libelle for option in (vm.typePreparation) track by option.libelle" data-ng-model="vm.preparation.typePreparation" id="typePreparation" name="typePreparation" required >
						<option data-ng-show="vm.preparation.typePreparation === undefined" data-ng-value="null" selected />
					</select>
				</div>
			</div>
			<div class="form-group required">
				<label style="text-align:left;" class="col-md-2 control-label" for="nomPreparation">Nom de la pr&eacute;paration :</label>
				<div class="col-md-3">
					<input id="nomPreparation" type="text" class="form-control" name="nomPreparation" data-ng-model="vm.preparation.nomPreparation" required />
				</div> 
			</div>
			<div class="form-group required">
				<label style="text-align:left;" class="col-md-2 control-label" for="prix">Prix (a l'unite) :</label>
				<div class="col-md-3">
					<input id="prix" type="number" data-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" class="form-control" name="prix" data-ng-model="vm.preparation.prix" required />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-3">
					<input type="submit" class="btn btn-success" data-ng-click="vm.creerOuModifierPreparation()" value="{{ vm.bouton.creerOuModifier }}">
					<input data-ng-if="vm.bouton.supprimer !== undefined" class="btn btn-danger" type="submit" data-ng-click="vm.supprimer()" value="{{ vm.bouton.supprimer }}">
					<input type="button" class="btn btn-primary" data-ng-click="vm.back()" value="{{ vm.bouton.retour }}">
				</div>
			</div>
		</form>
	</fieldset>
</div>