<div>
	<fieldset>
		<legend>{{ vm.headingTitle }}</legend>
		<form class="form-horizontal" role="form" id="recherche" name="recherche">
		<div class="row">
			 <div class="col-xs-6 form-group">
				<label style="text-align:left;" for="Client" class="col-md-4 control-label">Nom du client</label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="Client" name="Client" placeholder="Client" data-ng-model="vm.recherche.nom">
				</div>
			</div>
			<div class="col-xs-6 form-group">
				<div class="pull-right">
					<button type="submit" class="btn btn-success" data-ng-click="vm.rechercher()"><span class="glyphicon glyphicon-search"></span> Rechercher</button>
					<button type="submit" class="btn btn-warning" data-ng-click="vm.effacerRecherche()"><span class="glyphicon glyphicon-remove"></span> Effacer</button>
				</div>
			</div>
		</div>
		</form>
		<div class="panel-group">
		  <div data-ng-if="clientObj.client.length > 0"  class="panel panel-default" data-ng-repeat="clientObj in vm.clientListe">
		    <div class="panel-heading" data-target="#collapse{{ $index }}" data-toggle="collapse">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-target="#collapse{{ $index }}">{{ clientObj.titre }}</a>
		      </h4>
		    </div>
		    <div id="collapse{{$index}}" class="panel-collapse collapse">
				<a data-ng-repeat="c in clientObj.client" href="" data-ng-click="vm.redirection(vm.lien+'/'+c.id)" class="list-group-item">{{ c.nom }} {{ c.prenom }}<span class="badge" style="background-color:red">{{ c.commande.length }}</span></a>
		    </div>
		  </div>
		</div>
		<input type='button' data-ng-click="vm.redirection(vm.bouton.lien)" class="btn btn-primary" value='{{ vm.bouton.nom }}'>
	</fieldset>
</div>