<style>
div.panel-body:hover {
    background: #e0e0e0;
}
</style>

<div>
<fieldset>
	<fieldset data-ng-if="vm.preparationsBoulangerie.length > 0" class="inline">
		<legend>Boulangerie</legend>
		<div class="panel-group">
		  <div data-ng-if="preparations.preparation.length > 0"  class="panel panel-default" data-ng-repeat="preparations in vm.preparationListeBoulangerie">
		    <div class="panel-heading" data-target="#collapseBoulangerie{{ $index }}" data-toggle="collapse">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-target="#collapseBoulangerie{{ $index }}">{{ preparations.titre }}<span class="badge pull-right" style="background-color:red">{{ preparations.preparation.length }}</span></a>
		      </h4>
		    </div>
		    <div id="collapseBoulangerie{{$index}}" class="panel-collapse collapse">
				<a class="list-group-item" data-ng-repeat="p in preparations.preparation" href="" data-ng-click="vm.redirection(vm.lien+'/'+p.id)">{{ p.nomPreparation }}</a>
		    </div>
		  </div>
		</div>
	</fieldset>
	<fieldset data-ng-if="vm.preparationListePatisserie.length > 0" class="inline">
	<legend>Patisserie</legend>
		<div class="panel-group">
		  <div data-ng-if="preparations.preparation.length > 0"  class="panel panel-default" data-ng-repeat="preparations in vm.preparationListePatisserie">
		    <div class="panel-heading" data-target="#collapsePatisserie{{ $index }}" data-toggle="collapse">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-target="#collapsePatisserie{{ $index }}">{{ preparations.titre }}<span class="badge pull-right" style="background-color:red">{{ preparations.preparation.length }}</span></a>
		      </h4>
		    </div>
		    <div id="collapsePatisserie{{$index}}" class="panel-collapse collapse">
				<a class="list-group-item" data-ng-repeat="p in preparations.preparation" href="" data-ng-click="vm.redirection(vm.lien+'/'+p.id)">{{ p.nomPreparation }}</a>
		    </div>
		  </div>
		</div>
	</fieldset>
	<fieldset data-ng-if="vm.preparationsAutres.length > 0" class="inline">
	<legend>Autres</legend>	
		<div class="panel-group">
		  <div data-ng-if="preparations.preparation.length > 0"  class="panel panel-default" data-ng-repeat="preparations in vm.preparationListeAutre">
		    <div class="panel-heading" data-target="#collapseAutre{{ $index }}" data-toggle="collapse">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-target="#collapseAutre{{ $index }}">{{ preparations.titre }}<span class="badge pull-right" style="background-color:red">{{ preparations.preparation.length }}</span></a>
		      </h4>
		    </div>
		    <div id="collapseAutre{{$index}}" class="panel-collapse collapse">
				<a class="list-group-item" data-ng-repeat="p in preparations.preparation" href="" data-ng-click="vm.redirection(vm.lien+'/'+p.id)">{{ p.nomPreparation }}</a>
		    </div>
		  </div>
		</div>
	</fieldset>
	
	<div class="col-lg-12">
    	<div class="row">
			<input style="margin-left:1%" type='button' data-ng-click="vm.redirection(vm.bouton.lien)" class="btn btn-primary" value='{{ vm.bouton.nom }}'>
    	</div>
	</div>
	</fieldset>
</div>