<div class="modal-body">
	<form name="modalChoixPreparationForm">
		<div class="form-group">
			<fieldset>
				<legend>Commande du client : {{ vm.event.title }}</legend>
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Type de preparation</th>
							<th>Preparation</th>
							<th>Quantite</th>
							<th>Prix</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="quantite in vm.event.quantites">
							<td>{{ quantite.preparation.typePreparation.libelle }}</td>
							<td>{{ quantite.preparation.nomPreparation }}</td>
							<td>{{ quantite.quantite }}</td>
							<td>{{ quantite.prixCalcule | number:2 }}</td>
						</tr>
					</tbody>
				</table>
				<h3 data-ng-if="!vm.event.commande.paye" align='left'
					style="color: red">Total a regler : {{ vm.event.commande.prix
					| number : 2 }} &euro;</h3>
				<h3 data-ng-if="vm.event.commande.paye" align='left'
					style="color: green">Commande réglée : {{
					vm.event.commande.prix | number : 2 }} &euro;</h3>
			</fieldset>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-ng-click="$close()">Fermer</button>
		</div>
	</form>
</div>
