@media ( max-width : 767px) {
	.navbar-brand {
		padding: 0;
	}
}

.form-group.required .control-label:after { 
   	color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:10px;
    font-family: 'Glyphicons Halflings';
	font-weight: normal;
	font-size: 8px;
}

.inline {
	width: 30%;
	padding: 0;
	margin: 0% 1% 0% 1%;
	display: inline-block;
	float: left;
}

.navbar-toggle {
	margin: 23px 0;
}

.navbar-nav, .navbar-nav li, .navbar-nav li a {
	height: 60px;
	line-height: 60px;
}

.navbar-nav li a {
	padding-top: 0;
	padding-bottom: 0;
}

/* Footer */
#footer {
	bottom: 0;
	position: absolute;
	width: 100%;
}

/* Texte */
.txt-noir {
	color: black
}

.txt-blanc {
	color: white
}

.txt-center {
	text-align: center
}

/* Couleur background */
.bg-gris-iron {
	background-color: #75706b
}

.btn {
	margin-right: 5px;
}

/* Footer */
.bas-page {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 25px;
	z-index: 5;
}

.view-animate {
	margin: 50px;
}

#footer {
	height: 25px;
	margin-bottom: 10px;
}

.txt-footer {
	margin-top: 5px;
}

/* Boutons */
.md-button.md-icon-button {
	margin: 0 0.6rem;
	height: 4.8rem;
	min-width: 0;
	line-height: 4.8rem;
	padding-left: 0;
	padding-right: 0;
	width: 4.8rem;
}

.btn-blanc-bleu:hover {
	background: #90b8ea -moz-linear-gradient(center top, #fefeff, #90b8ea)
		repeat scroll 0 0;
	background: #90b8ea
		-webkit-gradient(linear, left top, left bottom, from(#fefeff),
		to(#90b8ea)) repeat scroll 0 0;
	background: #90b8ea -o-linear-gradient(top, #fefeff, #90b8ea) repeat
		scroll 0 0;
}