<div>
	<fieldset>
		<legend>Commandes</legend>
		<form class="form-horizontal" role="form" id="recherche" name="recherche">
		<div class="row">
			 <div class="col-xs-6 form-group">
				<label style="text-align:left;" for="numeroCommande" class="col-md-4 control-label">Numéro de commande</label>
				<div class="col-md-8">
					<input type="text" class="form-control col-md-6" id="numeroCommande" name="numeroCommande" data-ng-model="vm.recherche.numeroCommande" placeholder="Numéro de commande">
				</div>
			</div>
		 	<div class="col-xs-6 form-group">
				<label style="text-align:left;" class="col-md-4 control-label"  for="dateLivraison">Date de la commande</label>
				<div class="col-md-8 input-group">
					<input id="dateLivraison" type="date" class="form-control" name="dateLivraison" data-ng-model="vm.recherche._dateLivraison" />
					<span class="input-group-addon" id="addon"><i class="glyphicon glyphicon-calendar"></i></span>
				</div>
			</div>
		</div>
		<div class="row">
			 <div class="col-xs-6 form-group">
				<label style="text-align:left;" for="Client" class="col-md-4 control-label">Client</label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="Client" name="Client" placeholder="Client" data-ng-model="vm.recherche.client">
				</div>
			</div>
			<div class="col-xs-6 form-group">
				<div class="pull-right">
					<button type="submit" class="btn btn-success" data-ng-click="vm.rechercher()"><span class="glyphicon glyphicon-search"></span> Rechercher</button>
					<button type="submit" class="btn btn-warning" data-ng-click="vm.effacerRecherche()"><span class="glyphicon glyphicon-remove"></span> Effacer</button>
				</div>
			</div>
		</div>
		</form>
		<br>
		<div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td
							data-ng-click="vm.recherche.sortType = 'numCommande';vm.recherche.sortReverse = !vm.recherche.sortReverse;vm.rechercher()">
							<a><b>Numero de commande</b> <span
								data-ng-show="vm.recherche.sortType == 'numCommande' && !vm.recherche.sortReverse"
								class="glyphicon glyphicon-menu-down"></span> <span
								data-ng-show="sortType == 'numCommande' && vm.recherche.sortReverse"
								class="glyphicon glyphicon-menu-up"></span> </a>
						</td>
						<td
							data-ng-click="vm.recherche.sortType = 'dateCommande'; vm.recherche.sortReverse = !vm.recherche.sortReverse;vm.rechercher()">
							<a><b>Date de commande</b> <span
								data-ng-show="vm.recherche.sortType == 'dateCommande' && !vm.recherche.sortReverse"
								class="glyphicon glyphicon-menu-down"></span> <span
								data-ng-show="vm.recherche.sortType == 'dateCommande' && vm.recherche.sortReverse"
								class="glyphicon glyphicon-menu-up"></span> </a>
						</td>
						<td
							data-ng-click="vm.recherche.sortType = 'dateLivraison'; vm.recherche.sortReverse = !vm.recherche.sortReverse;vm.rechercher()">
							<a><b>date de livraison</b> <span
								data-ng-show="vm.recherche.sortType == 'dateLivraison' && !vm.recherche.sortReverse"
								class="glyphicon glyphicon-menu-down"></span> <span
								data-ng-show="vm.recherche.sortType == 'dateLivraison' && vm.recherche.sortReverse"
								class="glyphicon glyphicon-menu-up"></span> </a>
						</td>
						<td
							data-ng-click="vm.recherche.sortType = 'client.nom'; vm.recherche.sortReverse = !vm.recherche.sortReverse;vm.rechercher()">
							<a><b>Client</b> <span
								data-ng-show="vm.recherche.sortType == 'client.nom' && !vm.recherche.sortReverse"
								class="glyphicon glyphicon-menu-down"></span> <span
								data-ng-show="vm.recherche.sortType == 'client.nom' && vm.recherche.sortReverse"
								class="glyphicon glyphicon-menu-up"></span> </a>
						</td>
						<td data-ng-click="vm.recherche.sortType = 'paye'; vm.recherche.sortReverse = !vm.recherche.sortReverse;vm.rechercher()">
							<a><b>Commande payée</b> <span
								data-ng-show="vm.recherche.sortType == 'paye' && !vm.recherche.sortReverse"
								class="glyphicon glyphicon-menu-down"></span> <span
								data-ng-show="vm.recherche.sortType == 'paye' && vm.recherche.sortReverse"
								class="glyphicon glyphicon-menu-up"></span> </a>
						</td>
						<td><a><b>Action</b></a></td>
					</tr>
				</thead>

				<tbody>
					<tr
						data-ng-repeat="valeur in vm.commandes">
						<td data-ng-href=""
							data-ng-click="vm.redirection(vm.lien + '/' + valeur.numeroCommande)">{{
							valeur.numCommande }}</td>
						<td data-ng-href=""
							data-ng-click="vm.redirection(vm.lien + '/' + valeur.numeroCommande)">{{
							valeur.dateCommande | date }}</td>
						<td data-ng-href=""
							data-ng-click="vm.redirection(vm.lien + '/' + valeur.numeroCommande)">{{
							valeur.dateLivraison | date }}</td>
						<td data-ng-href=""
							data-ng-click="vm.redirection(vm.lien + '/' + valeur.numeroCommande)">{{
							valeur.client.nom }} {{ valeur.client.prenom }}</td>
						<td data-ng-href=""
							data-ng-click="vm.redirection(vm.lien + '/' + valeur.numeroCommande)"
							data-ng-if="valeur.paye">Oui</td>
						<td data-ng-href=""
							data-ng-click="vm.redirection(vm.lien + '/' + valeur.numeroCommande)"
							data-ng-if="!valeur.paye">Non</td>
						<td>
							<button type="button" class="btn btn-danger btn-sm"
								data-ng-click="vm.supprimer(valeur.numeroCommande)">
								<span class="glyphicon glyphicon-remove"></span> Supprimer
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<label
				data-ng-click="vm.selectPage(vm.pageCourante - 1, !(vm.pageCourante > 1 && vm.pageMax > 1))"
				class="btn btn-primary"
				data-ng-class="(vm.pageCourante > 1 && vm.pageMax > 1) ? 'enabled' : 'disabled'"
				class="pagination-prev"><a href=""
				data-ng-click="vm.selectPage(vm.pageCourante - 1, !(vm.pageCourante > 1 && vm.pageMax > 1))"
				class="ng-binding" style="color: white">&lt;</a></label> <label
				data-ng-repeat="page in vm.pages" data-ng-if="page.actif"
				data-ng-class="!page.actif ? 'btn btn-link' : 'btn btn-primary'"
				data-ng-click="vm.selectPage(page.numero, page.actif)">{{
				page.numero }}</label> <label
				data-ng-click="vm.selectPage(vm.pageCourante + 1, !(vm.pageCourante < vm.pageMax))"
				class="btn btn-primary"
				data-ng-class="vm.pageCourante < vm.pageMax ? 'enabled' : 'disabled'"
				class="pagination-next"><a href=""
				data-ng-click="vm.selectPage(vm.pageCourante + 1, !(vm.pageCourante < vm.pageMax))"
				class="ng-binding" style="color: white">&gt;</a></label>
			<!-- end ngIf: ::directionLinks -->
			<div class="pull-right">
				<!-- NOMBRE DE PAGES -->
				<label
					data-ng-class="{'btn btn-primary' : true,  'active' : obj.select}"
					data-ng-repeat="obj in vm.objetsParPage"
					data-ng-click="vm.choixDonneesParPage(obj, obj.select)">{{
					obj.offset }}</label>
			</div>

		</div>
		<br> <input type='button'
			data-ng-click="vm.redirection(vm.bouton.lien)"
			class="btn btn-primary" value='{{ vm.bouton.nom }}'>
		<button type="button" class="btn btn-info"
			data-ng-click="vm.exporterCommandes()">
			<span class="glyphicon glyphicon-save-file"></span> Exporter les
			commandes
		</button>
		<button type="button" class="btn btn-info"
			data-ng-click="vm.exporterPreparation()">
			<span class="glyphicon glyphicon-save-file"></span> Exporter les
			préparations
		</button>
	</fieldset>
</div>