<div class="modal-body">
	<form name="modalChoixPreparationForm">
		<div>
			<div class="form-group">
				<fieldset>
					<legend>Selection des preparations</legend>
					<table class="table table-bordered table-striped">
			      		<thead>
				        	<tr>
				          		<th>Type de preparation</th>
				          		<th>Preparation</th>
								<th>Quantite</th>
								<th>Prix</th>
				        	</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<select class="form-control" data-ng-change="vm.selectionPreparation()" data-ng-options="option as option.libelle for option in (vm.typePreparation)" data-ng-model="vm.commande.typePreparation" required>
									<option data-ng-show="true" data-ng-value="null" selected />
									</select>
								</td>
								<td>
<!-- 									<select class="form-control" data-ng-change="vm.ajouterPreparation()" data-ng-options="option as option.nomPreparation for option in (vm.preparationListe) | orderBy : 'nomPreparation'" data-ng-model="vm.preparation" required> -->
<!-- 									<option data-ng-show="true" data-ng-value="null" selected /> -->
<!-- 									</select> -->
								<ui-select ng-model="vm.preparation">
								    <ui-select-match>
								        <span ng-bind="$select.selected.nomPreparation"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item in (vm.preparationListe | filter: $select.search) | orderBy : 'nomPreparation'">
								        <span ng-bind="item.nomPreparation"></span>
								    </ui-select-choices>
							 	</ui-select>
								</td>
								<td>
									<input class="form-control" type="number" data-ng-model="vm.quantite.quantite" id="quantite" data-ng-change="vm.mettreAjourPrix()" required>
								</td>
								<td>
									{{ vm.quantite.prixCalcule | number : 2 }} &euro;
								</td>
							</tr>
						</tbody>
				    </table>
				</fieldset>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success" data-ng-click="modalChoixPreparationForm.$valid && $close() && vm.ajouterLigne()">Ajouter</button>
		</div>
	</form>
</div>